body, html {
  min-height: 100vh;
  margin: 0;
  background-color: #333;
  scroll-behavior: smooth;
}

header{
    background-color: #0A2540;
    color: #FFF;
    height: 85vh;
    padding-top: 0.2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.presentation-text{
    margin-top: 7rem;
    margin-left: 7rem;
}

.logotype{
    width: 8rem;
    position: absolute;
    top: 0.3rem;
    left: 0;
    margin-left: 8rem;
}

header h1{
    margin: 0;
    font-size: 5rem;
}

header h3{
    margin: 0;
    font-size: 2rem;
}

@keyframes shadow-color{
    0%{
        text-shadow: 0px 0px 0px ;
    }
    50%{
        text-shadow: 0px 0px 25px ;
    }
    100%{
        text-shadow: 0px 0px 0px ;
    }
}

span{
    animation: shadow-color 5s infinite;
    color: #FF4C61;
}

button{
    padding: 0.50rem;
    border-radius: 0.40rem;
    border: none;
    margin-top: 15px;
    background-color: #B0C4DE;
    font-size: 1rem;
}

.smartwatch{
    width: 20rem;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 3rem;
    margin-right: 5rem;
}

/* CONTENT */

main {
  min-height: 100vh;
  color: #f7d3d3;
}

@keyframes visibility{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

h2{
    animation: visibility linear;
    animation-timeline: view();
    text-align: center;
    font-size: 3rem;
    margin: 6rem 0 10rem ;
}

@keyframes slide-sideways{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 20;
        transform: translateX(0px);
    }
}

.features{
    animation: slide-sideways linear;
    animation-timeline: view();
    animation-range: entry 0;
    margin-bottom: 14rem;
    font-size: 1.1rem;
}

ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
    gap: 2rem;
    list-style: none;
    margin: 0 4rem;
}

li{
    text-align: center;
}

h3{
    margin-bottom: 0;
}

p{
    margin-top: 0.5rem;
}

.fas{
    font-size: 2.5rem;
}

.fa-tint{
    color:#00BFFF;
    animation: shadow-color 7s infinite;
}

#water{
    text-shadow: 0px 0px 25px #00BFFF;
    padding: 0.15rem;
    border-radius: 0.2rem;
    color: #00BFFF; 
    animation: none;
}

.fa-battery-full{
    color:#32CD32;
    animation: shadow-color 7s infinite;
}

#baterry{
    text-shadow: 0px 0px 25px #32CD32;
    padding: 0.15rem;
    border-radius: 0.2rem;
    color: #32CD32;
    animation: none;
}

.fa-heartbeat{
    color:#FF4C61;
    animation: shadow-color 5s infinite;
}

#heart{
    text-shadow: 0px 0px 25px #FF4C61;
    padding: 0.15rem;
    border-radius: 0.2rem;
    color: #FF4C61;
    animation: none;
    
}

.fa-bell{
    color:#FFD700;
    animation: shadow-color 5s infinite;
}

#notifications{
    text-shadow: 0px 0px 25px #FFD700;
    padding: 0.15rem;
    border-radius: 0.2rem;
    color: #FFD700;
    animation: none;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 20;
        scale: 1;
    }
}

/* CUSTOMER OPINION */

.customer-opinion{
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0;
    height: 58vh;
}

.customer-opinion h2{
    margin-bottom: 3rem;
}

.customer1 img{
    position: absolute;
    left: 14rem;
    width: 7rem;
    border-radius: 100%;
}

.text-from-customer1{
    position: absolute;
    width: 20rem;
    left: 22rem;
    font-size: 1.3rem;
}

.customer2 img{
    width: 7rem;
    border-radius: 100%;
    position: absolute;
    right: 30rem;
}

.text-from-customer2{
    position: absolute;
    width: 18rem;
    right: 11rem;
    font-size: 1.3rem;
}

strong{
    background-color: 	#FF4F00;
    color: #0A2540;
    padding: 0.1rem;
    border-radius: 0.3rem;
}

footer{
    min-height: 45vh;
    background-color: #0A2540;
    color: #FFF;
}

footer h2{
    padding-top: 5rem;
    margin-bottom: 2rem;
    animation: none;
}

.future{
    animation: shadow-color 5s infinite;
    color: #A020F0;
}

.buy-button{
    display: block;
    margin: 0 auto;
}

/*=====TABLET=====*/

@media(min-width: 762px) and (max-width: 1024px){
header{
    height: 40vh;
}

.presentation-text{
    margin-top: 3rem;
    margin-left: 3rem;
}

.logotype{
    width: 6rem;
    margin-left: 4rem;
}

header h1{
    padding-top: 1.2rem;
    font-size: 3rem;
}

header h3{
    font-size: 1rem;
}

button{
    font-size: 0.8rem;
}

.smartwatch{
    width: 15rem;
    padding-top: 1.5rem;
    margin-right: 1.5rem;
}

/* content */

h2{
    font-size: 2.5rem;
    margin: 6rem 0 5rem;
}

.features{
    animation: none;
    margin-bottom: 8rem;
    font-size: 1rem;
}

ul{
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 5rem;
    padding: 0;
}

/* CUSTOMER SECTION */
.customer-opinion{
    height: 30vh;
}

.customer-opinion h2{
    font-size: 2.4rem;
}


.customer1 img{
    left: 8.6rem;
    width: 6rem;
}

.text-from-customer1{
    width: 18rem;
    left: 5rem;
    top: 12rem;
    text-align: center;
    font-size: 1.1rem;
    width: 13rem;
}

.customer2 img{
    width: 6rem;
    right: 8.4rem;
}

.text-from-customer2{
    width: 18rem;
    right: 4rem;
    top: 12rem;
    text-align: center;
    font-size: 1.1rem;
    width: 14rem;
}

footer{
    min-height: 25vh;
}
}

/*=====MOBILE===== */

@media(min-width:325px) and (max-width:760px){
header{
    height: 45vh;
}

.presentation-text{
    margin-top: 3rem;
    margin-left: -1rem;
}

.logotype{
    width: 5rem;
    margin-left: 0.5rem;
}

header h1{
    padding-top: 1.2rem;
    font-size: 1.5rem;
}

header h3{
    font-size: 0.9rem;
}

button{
    font-size: 0.6rem;
}

.smartwatch{
    width: 7rem;
    padding-top: 3rem;
    margin-right: 0.3rem;
}  

/*CONTENT*/
    
h2{
    animation: none;
    font-size: 2rem;
    margin: 3rem 0 5rem;
}

.features{
    animation: none;
    margin-bottom: 4rem;
    font-size: 0.6rem;
}

.features h3{
    font-size: 0.48rem;
}

ul{
    grid-template-columns: repeat(auto-fit, minmax(60px, 2fr));
    gap: 5rem;
    padding: 0;
}

.fas{
    font-size: 2rem;
}

/* CUSTOMER SECTION */
.customer-opinion{
    margin: 2rem;
    height: 40vh;
}

.customer-opinion h2{
    font-size: 1.3rem;
}

.customer1 img{
    left: 3.4rem;
    width: 3rem;
}

.text-from-customer1{
    width: 10rem;
    left: 1.5rem;
    top: 8rem;
    text-align: center;
    font-size: 0.5rem;
    width: 7rem;
}

.customer2 img{
    width: 3rem;
    right: 2.7rem;
}

.text-from-customer2{
    width: 10rem;
    right: 0.5rem;
    top: 8rem;
    text-align: center;
    font-size: 0.5rem;
    width: 7rem;
}

footer{
    min-height: 25vh;
}

footer h2{
    padding-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    margin-top: 0;
}
}

@media(max-width:320px){
    header{
    height: 40vh;
}

.presentation-text{
    margin-top: 2rem;
    margin-left: -1rem;
}

.logotype{
    width: 1px;
}

header h1{
    font-size: 1rem;
}

header h3{
    font-size: 0.7rem;
}

button{
    font-size: 0.5rem;
}

.smartwatch{
    width: 7rem;
    padding-top: 1.3rem;
    margin-right: 0.3rem;
}  

/* CONTENT */
    
h2{
    font-size: 1.5rem;
    margin: 3rem 0 5rem;
}

.features{
    margin-bottom: 4rem;
    font-size: 0.1rem;
}

.features h3{
    font-size: 1rem;
}

.features p{
    font-size: 1rem;
}

ul{
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    gap: 5rem;
    padding: 0;
}

.fas{
    font-size: 2rem;
}

/* customers section */

.customer-opinion{
    height: 54vh;  
}

.customer-opinion h2{
    font-size: 1.3rem;
}

.customer1 img{
    left: 3rem;
    width: 3rem;
}

.text-from-customer1{
    width: 8rem;
    left: 1.5rem;
    top: 9rem;
    text-align: center;
    font-size: 0.5rem;
    width: 6rem;
}

.customer2 img{
    width: 3rem;
    right: 2.2rem;
}

.text-from-customer2{
    width: 8rem;
    right: 0.5rem;
    top: 9rem;
    text-align: center;
    font-size: 0.5rem;
    width: 6rem;
}

footer{
    min-height: 25vh;
}

footer h2{
    padding-top: 1.5rem;
    margin-bottom: 2rem;
    animation: none;
    font-size: 1.2rem;
    margin-top: 0;
}
}

